* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_23 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v23_7 {
  width: 150px;
  height: 45px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1244px;
  overflow: hidden;
}
.v23_6 {
  width: 150px;
  height: 45px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1066px;
  overflow: hidden;
}
.v23_5 {
  width: 150px;
  height: 45px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 888px;
  overflow: hidden;
}
.v23_4 {
  width: 150px;
  height: 45px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 710px;
  overflow: hidden;
}
.v23_3 {
  width: 713px;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  border: 1px solid rgba(0,0,0,1);
}
.v15_4 {
  width: 730px;
  height: 100%;
  background: rgba(97,184,83,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 710px;
  border: 1px solid rgba(0,0,0,1);
}
.v23_11 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 909px;
  font-family: Poiret One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_10 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 731px;
  font-family: Poiret One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v21_245 {
  width: 140px;
  height: 94px;
  background: url("../images/v21_245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 406px;
  box-shadow: 0px 4px 4px rgba(0.3803921639919281, 0.7215686440467834, 0.32549020648002625, 0.25);
  overflow: hidden;
}
.v18_12 {
  width: 140px;
  height: 94px;
  background: rgba(97,184,83,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0.3803921341896057, 0.7215686440467834, 0.32549017667770386, 0.75);
}
.v21_242 {
  width: 193px;
  height: 50px;
  background: url("../images/v21_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 737px;
  overflow: hidden;
}
.v19_13 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poiret One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_14 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 29px;
  left: 30px;
  font-family: Poiret One;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v21_243 {
  width: 630px;
  height: 407px;
  background: url("../images/v21_243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 270px;
  left: 737px;
  overflow: hidden;
}
.v19_11 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 60px;
  font-family: Poiret One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v19_12 {
  width: 630px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 108px;
  left: 0px;
  font-family: Poiret One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_8 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 1285px;
  font-family: Poiret One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_9 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 1093px;
  font-family: Poiret One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_16 {
  width: 111px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 467px;
  left: 239px;
  box-shadow: 0px 4px 4px rgba(0.3803921341896057, 0.7215686440467834, 0.32549017667770386, 0.5);
  overflow: hidden;
}
.v42_17 {
  width: 85px;
  height: 100px;
  background: rgba(97,184,83,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v42_18 {
  width: 84px;
  height: 100px;
  background: rgba(97,184,83,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
}
.v42_14 {
  width: 24px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 85px;
  overflow: hidden;
}
.v42_15 {
  width: 24px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v21_247 {
  width: 138px;
  height: 43px;
  background: url("../images/v21_247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 912px;
  left: 720px;
  overflow: hidden;
}
.v20_12 {
  width: 49px;
  height: 43px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v20_13 {
  width: 37px;
  height: 36px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 54px;
  overflow: hidden;
}
.v19_20 {
  width: 36px;
  height: 36px;
  background: url("../images/v19_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 53px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v21_294 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2142px;
  left: 1841px;
  overflow: hidden;
}
.v21_286 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2142px;
  left: 1841px;
  overflow: hidden;
}
.v20_1 {
  width: 36px;
  height: 36px;
  background: url("../images/v20_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 102px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v19_18 {
  width: 36px;
  height: 36px;
  background: url("../images/v19_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v21_288 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2142px;
  left: 1841px;
  overflow: hidden;
}
.v21_289 {
  width: 36px;
  height: 36px;
  background: url("../images/v21_289.png");
  opacity: 1;
  position: absolute;
  top: 2157px;
  left: 1848px;
}
